*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;
}
.first-half{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 1)), url(./images/donation12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.heading1{
    padding-top: 150px;
    text-align: center;
    
}
.first-h1{
    font-size: 60px;
    color: white;
    
}
.first-btn{
    padding: 15px 30px;
    color: white;
    background-image: linear-gradient(rgb(235, 54, 84), rgb(216, 7, 42));
    margin-top: 40px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 15px;
    
}

.box1 ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
#heading2{
    padding-top: 120px;
}
.tk{
    margin: 15px;
    height: 70px;
    width: 100px;
    background-color:whitesmoke;
    text-align: center;
    padding: 0 10px;
    padding-top: 33px;
    margin-bottom: 40px;
    font-weight:700;
    font-size: 25px;
    color: gray;
    border-radius: 5px;
}
#color-tk{
    color:red;
    border: 2px solid red;
}
.first-p2{
    width: 500px;
    margin: 0 auto;
    color: gray;
    font-size: 17px;
    margin-bottom: 20px;
}
.first-lasth1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
hr{
    width: 700px;
    margin: 0 auto;
}
#first-p{
    color: whitesmoke;
    margin-top: 30px;
    
    
} 
.icon-box{
    display: flex;
    justify-content: center;
}
.icon-box1{
    width: 20%;
    margin-right: 2%;
    background-color: aquamarine;
    padding: 40px 20px;
    text-align: left;
    border-radius: 5px;
}
.icon{
    margin-bottom: 20px;
}
.icon-h{
    margin-bottom: 20px;
}
.icon-p{
    text-align: justify;
    color: gray;
}
#icon1{
    background-color:rgb(238, 243, 245);
    
}
#icon2{
    background-color:rgb(248, 244, 209) ;
}
#icon3{
    background-color:rgb(231, 225, 250) ;
}
#middle-p{
    margin-bottom: 50px;
}
.blog{
    margin: 120px;
}
.hr2{
    width: 100%;
    height: 1px;
    background-color: brown;
}
.news{
    display: flex;
}
.blog-1{
    height: 200px;
    width: 20%;
    margin: 5%;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 10px 10px 30px gray;
    background-color: rgb(245, 234, 217);
    text-align: left;
}
.blog-news{
    color: blue;
    
}
.blog-h1{
    font-size: 36px;
    font-weight: 700;
}
.blog-p{
    margin-top: 20px;
}
.blog-p2{
    margin-top: 10px;
}
.blog-btn{
    
    margin-top: 200px;
}
.my-updates{
    text-align: center;
}
.form{
    height: 150px;
    width: 60%;
    background-color: antiquewhite;
    margin: 0 auto;
    padding-top: 20px;
    
    justify-content: center;
    
}
.emails{
   height: 50px;
   border: none;
   border-radius: 5px;
   margin-right: -7px;
   padding-left: 5px;
    
}
footer{
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}
.footer-h1{
    font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive;
font-size: 42px;
color: rgb(187, 22, 22);
}
footer p{
    color: white;
    font-size: 16px;
    margin-top: 10px;
}